.calculator-container{
  margin: 0 auto;
}

.header{
  // space between the top edge and header...
  margin: 20px 0 5px 0;
}

.display{
  margin-bottom: 10px;
}

.display-text{
  margin-right: 20px;
}